/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;

  @include media-breakpoint-up(sm) {
    max-width: 90%;
    margin: auto;
  }
}