<form
  class="d-flex flex-column form"
  [formGroup]="creditCardForm"
  (submit)="onSubmit()"
>
  <div class="form-group">
    <label for="cardNumber">Card Number*</label>
    <input
      type="text"
      class="form-control"
      id="cardNumber"
      formControlName="cardNumber"
      name="cardNumber"
    />
  </div>
  <div class="form-group">
    <label for="cardName">Name on Card*</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      formControlName="name"
    />
  </div>
  <div class="form-group">
    <label for="expiryDate">Expiry Date*</label>
    <input
      type="date"
      class="form-control"
      id="expirationDate"
      formControlName="expirationDate"
      name="expirationDate"
    />
  </div>
  <div class="form-group">
    <label for="cvv">CVV*</label>
    <input
      type="number"
      class="form-control"
      id="cvv"
      formControlName="cvv"
      name="cvv"
    />
  </div>
  <button type="submit" class="btn btn-primary mt-2" *ngIf="amount">
    Pay {{ amount | currency : "INR" }} Now
  </button>
</form>
<div class="alert alert-success mt-3" *ngIf="paymentSuccess">
  Payment Successful! Redirecting to the home page...
</div>
