<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 position-relative">
      <h1>Welcome to mSurance</h1>
      <h6 class="pt-3 display-6">
        Insurance is a means of protection from financial loss. It is a form of
        risk management, primarily used to hedge against the risk of a
        contingent or uncertain loss.
      </h6>
      <ul
        class="navbar-nav flex-row justify-content-around flex-grow-1 position-absolute"
      >
        <li class="nav-item">
          <a class="btn btn-info" routerLink="/insurance">Buy Insurance</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-info" routerLink="/payment">Renew Insurance</a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-6">
      <img
        src="/assets/images/main.png"
        alt="Insurance"
        class="img-fluid m-auto"
      />
    </div>
  </div>
</div>
